<h2>To build a form...</h2>

<ul>
<li><%= link_to "simple", :action => "simple" %> demonstrates a form created "by hand"</li>
<li><%= link_to "labelled_field", :action => "labelled_field" %> shows a form using a helper</li>
<li><%= link_to "form_builder", :action => "form_builder" %> shows a form using a form builder</li>
<li><%= link_to "voldemort", :action => "voldemort" %> demonstrates a <code>rescue_from</code></li>
</ul>
  
