<h1>Welcome to Board Game Reviews!</h1>
<p>Where do you want to go?</p>
<ul>
  <li><%= link_to 'Users', :controller => 'users' %></li>
  <li><%= link_to 'Games', :controller => 'games' %></li>
  <li><%= link_to 'Reviews', :controller => 'reviews' %></li>
</ul>